.aboutContainer {
  width: 100%;
  padding-inline: var(--default-padding);
  height: 100%;
}

.divider {
  border: 1px solid var(--font-body-color);
  margin-bottom: 50px;
  margin-top: 50px;
}

.aboutHeader {
  color: var(--font-hover-color);
  font-weight: var(--font-bold);
  font-size: 1.859rem;
  margin-bottom: 2rem;
}

.aboutFlex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.aboutSubContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.aboutSubHeader {
  color: var(--color-heading);
  font-weight: var(--font-bold);
  font-size: 1.494rem;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  border-radius: 1rem;
  border: none;
  transition: box-shadow 0.3s ease;
  background-color: var(--background-color-one);
}

.aboutContent:hover {
  box-shadow: -6px 6px 0 0 var(--font-hover-color);
  border: none;
  cursor: default;
}

.aboutTitle {
  color: var(--color-heading);
  font-weight: var(--font-bold);
  font-size: 1.372rem;
}

.aboutProvider {
  color: var(--font-hover-color);
  font-size: 1rem;
}

.aboutDescription {
  color: var(--color-heading);
  font-size: 1rem;
}

/* large screen */
@media screen and (min-width: 992px) {

  .aboutContainer {
    height: 100vh;
  }
  
  .aboutFlex {
    display: grid;
    grid-template-columns: auto auto;
  }

  .aboutContainer {
    padding-left: 18rem;
  }
  
}