:root {
  --font-default-color: #ffff;
  --font-default-size: 1.6rem;
  --font-header-size: 2.5rem;
  --font-hover-color: #e0f780;
  --font-hover-color-two: #deff58;
  --font-body-color:#b6cbce;
  --color-heading: #eef3db;
  --font-bold: 700;
  --background-color-one: #033f47;
  --background-color-two: #022a30;
  --default-padding: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
