.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-two);
  overflow-x: hidden;
}

.mainContentOpen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-two);
  width: 100%;
}

.mainContentClosed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-two);
  width: 100%;
  overflow: hidden;
}

.homepageContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-inline: var(--default-padding);
}

.contentHeader {
  font-size: var(--font-header-size);
  font-weight: var(--font-bold);
  color: var(--font-default-color);
}

.headerName {
  color: var(--font-hover-color);
}

.contentParagraph {
  color: var(--font-body-color);
  font-size: 1.25rem;
}

.contentButton {
  width: 9rem;
  background-color: var(--font-hover-color);
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: 700;
  padding: 15px 10px;
}

.contentButton:hover,
.contentButton:active {
  background-color: var(--font-hover-color-two);
  border: none;
  cursor: pointer;
}

.contentEmail {
  color: var(--font-body-color);
  size: 1rem;
  font-weight: var(--font-bold);
}

/* large screen */
@media screen and (min-width: 992px) {
  .main {
    flex-direction: row;
    justify-content: start;
  }

  .homepageContainer {
    padding-left: 18rem;
    height: 100vh;
  } 
}
